In [5]:
import pandas as pd
import sklearn
import numpy as np
import warnings
warnings.filterwarnings('ignore')

In [6]:
df = pd.read_csv("../Data_csv/crop_recommendation.csv")

In [7]:
df.head()

    N   P   K  temperature   humidity        ph    rainfall label
0  90  42  43    20.879744  82.002744  6.502985  202.935536  rice
1  85  58  41    21.770462  80.319644  7.038096  226.655537  rice
2  60  55  44    23.004459  82.320763  7.840207  263.964248  rice
3  74  35  40    26.491096  80.158363  6.980401  242.864034  rice
4  78  42  42    20.130175  81.604873  7.628473  262.717340  rice

In [8]:
df.shape

(2200, 8)

In [9]:
df.size

17600

In [10]:
df.columns

Index(['N', 'P', 'K', 'temperature', 'humidity', 'ph', 'rainfall', 'label'], dtype='object')

In [11]:
df["label"].unique()

array(['rice', 'maize', 'chickpea', 'kidneybeans', 'pigeonpeas',
       'mothbeans', 'mungbean', 'blackgram', 'lentil', 'pomegranate',
       'banana', 'mango', 'grapes', 'watermelon', 'muskmelon', 'apple',
       'orange', 'papaya', 'coconut', 'cotton', 'jute', 'coffee'],
      dtype=object)

In [12]:
X = df[['N','P', 'K', 'temperature', 'humidity', 'ph', 'rainfall']]
Y = df[['label']]
labels = df['label']

In [13]:
#intinalize empty array for accurasy and model 

acc = []
mod = []

In [14]:
from sklearn.model_selection import train_test_split
X_train, X_test, Y_train,Y_test = train_test_split(X,Y, test_size=0.33, random_state=2)

In [15]:
# Decision tree
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import accuracy_score
DecisionTree = DecisionTreeClassifier(criterion='entropy',max_depth=5,random_state=2)

DecisionTree.fit(X_train,Y_train)
predict_value = DecisionTree.predict(X_test)
x = accuracy_score(Y_test,predict_value)
acc.append(x)
mod.append("Decision Tree")
print("Accuracy of Decison tree Model:",x*100)
print(sklearn.metrics.classification_report(Y_test,predict_value))

Accuracy of Decison tree Model: 86.91460055096418
              precision    recall  f1-score   support

       apple       1.00      1.00      1.00        33
      banana       1.00      1.00      1.00        33
   blackgram       0.68      0.94      0.79        32
    chickpea       1.00      1.00      1.00        31
     coconut       0.94      1.00      0.97        34
      coffee       1.00      1.00      1.00        36
      cotton       1.00      0.97      0.99        35
      grapes       1.00      1.00      1.00        33
        jute       0.67      0.06      0.10        36
 kidneybeans       0.00      0.00      0.00        35
      lentil       0.97      0.82      0.89        34
       maize       0.89      0.94      0.92        35
       mango       1.00      1.00      1.00        34
   mothbeans       0.77      0.62      0.69        32
    mungbean       1.00      1.00      1.00        36
   muskmelon       1.00      0.94      0.97        36
      orange       1.00      1.00      1.00        43
      papaya       1.00      1.00      1.00        30
  pigeonpeas       0.50      1.00      0.67        33
 pomegranate       1.00      1.00      1.00        19
        rice       0.48      0.97      0.65        31
  watermelon       0.93      1.00      0.96        25

    accuracy                           0.87       726
   macro avg       0.86      0.88      0.84       726
weighted avg       0.85      0.87      0.84       726

In [16]:
from sklearn.model_selection import cross_val_score

In [17]:
score = cross_val_score(DecisionTree, X, Y,cv=5)

In [18]:
score

array([0.93636364, 0.90909091, 0.91818182, 0.87045455, 0.93636364])

In [19]:
import pickle
# Dump the trained Naive Bayes classifier with Pickle
DT_pkl_filename = '../Machine_model/DecisionTree.pkl'
# Open the file to save as pkl file
DT_Model_pkl = open(DT_pkl_filename,'wb')
pickle.dump(DecisionTree, DT_Model_pkl)
# Close the pickle instances
DT_Model_pkl.close()